*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    border-bottom: 1px solid rgba(28, 40, 36, 0.322);
    background-color: #EEF1F6;
    top: 0;
    left: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding: 0 40px;
    line-height: 50px;
    text-decoration: none;
    color:#407C87;
}
.menuList{
    display: flex;
    margin-right: 40px;
    list-style: none;    
}
.menuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
nav .menuLink{
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    color: #407C87;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
}
.titleSection{
    width: 100%;
    height: auto;
    margin: 3rem auto;
    padding: 1rem;
    background-color: #D3E1E2; 
}
main{
    width: 100%;
    height: auto;
    background-color: #D3E1E2;  
}

main .container{
    max-width: 80%;
    margin: 2rem auto;
    padding: 0.15em;
    grid-template-columns: 1fr,2fr;
}


footer{
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: -2rem;
    background: #EEF1F6;
    text-align: center;
    color: #407C87;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

/*media queries*/
@media (min-width:240px) and (max-width:720px) {
    body {
        padding-top: 70px;
    }
    header {
        height: 60px;
    }
    .logo {
        font-size: 18px;
        padding: 0 20px;
        line-height: 60px;
    }
    .menuList{
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #EEF1F6;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    }
    .menuItem{
        line-height: 70px;
    }
    .nav-toggle {
        display: block;
        color: black;
        font-size: 25px;
    }
    .menuList_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
    footer{
        font-size: 0.9rem;
    }
}      