*{
    margin: 0;
    box-sizing: border-box; 
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    border-bottom: 1px solid rgba(28, 40, 36, 0.322);
    background-color: #EEF1F6;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding: 0 40px;
    line-height: 50px;
    text-decoration: none;
    color:#407C87;
}
.menuList{
    display: flex;
    margin-right: 40px;
    list-style: none;    
}
.menuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
nav .menuLink{
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    color: #407C87;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
}
main{
    margin: 2rem auto;
    width: 100%;
    max-width: 2040px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
main .container{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    border: 5px solid #A5DBDD;
    border-radius: 8px;
    box-shadow:1px 2px 30px  rgba(0, 0, 0, 0.103);
    background-color: #EEF1F6;
}
main .container .card{
    width: 100%;
    height: auto;
    padding: 1rem;
    border:1px solid rgb(15, 185, 176);
    border-radius: 0.2rem;
}
main .btnAdd{
    border-radius: 8rem;
    margin: 10px;
    padding: 1px 70px;
    background-color: #A5DBDD;
    border-color: #A5DBDD;
    cursor: pointer;
}
main .btnAdd:hover{
    background-color: #407C87;
    border-color: #407C87;
}
#entries{
    display: grid;
    gap: 14px;
}
#entries div{
    background-color:#A5DBDD;
    border: 3px solid   #407C87;;
    padding: 3px;
    border-radius: 6px;
    display: grid;
    gap: 2px;
}
.opciones{
    justify-self: center;
    display: flex;
    gap:1rem;
    cursor: pointer;
}
footer{
    width: 100%;
    height: auto;
    padding: 1rem;
    background: #EEF1F6;
    text-align: center;
    color: #407C87;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

/*media queries*/
@media (min-width:300px) and (max-width:720px) {
    body {
        padding-top: 70px;
    }
    header {
        height: 60px;
    }
    .logo {
        font-size: 18px;
        padding: 0 20px;
        line-height: 60px;
    }
    .menuList{
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #EEF1F6;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    }
    .menuItem{
        line-height: 70px;
    }
    .nav-toggle {
        display: block;
        color: black;
        font-size: 25px;
    }
    .menuList_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
    main .container{
        max-width: 90%;
    }    
    footer{
        font-size: 0.9rem;
    }
}      